.oferta{
	background-color: #00446e;
	padding: 2rem;
	text-align: center;
}
.precio{
	font-size:6rem;
	margin:0;
}

/* Mobile FIrst */
/* Media Queries entre 2 tamaños */
@media (min-width: 600px) and (max-width:800px){
	.oferta{
		background-color: yellow;
	}
}

/* @media (min-width: 600px){
	.oferta{
		background-color: yellow;
	}
}

@media (min-width: 800px){
	.oferta{
		background-color: #00446e;
	}
} */